/* *{
   font-family: sans-serif;
}

body{
   background-color: #183A4A;
}

#griglia div{
   height: 5rem;
   width: 5rem;
   margin: 0.5rem;
   background-color: #3D88AE;
   text-align: center;
   line-height: 5rem;
} */