*{
   font-family: sans-serif;
}

body{
   background-color: #183A4A;
}

.container{
   background-color: transparent;
}

h1{
   font-size: 6rem;
}

#griglia{
   max-width: 44rem;
   margin: auto;
   background-color: transparent;
}

#griglia div{
   background-color: #3D88AE;
}

#griglia div{
   height: 4rem;
   width: 4rem;
   margin: 0.2rem;
   font-size: 1.4rem;
   font-weight: bold;
   transition: scale 0.3s;
   display: flex;
   justify-content: center;
   align-items: center;
}

#griglia div:hover{
   scale: 1.2;
}   

#griglia .fizz{
   background-color: #61D2A4;
}

#griglia .buzz{
   background-color: #F9D277;
}

#griglia .fizzbuzz{
   background-color: #DE5471;
}